<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About Me</h4>
    <p>I love solving problems. As a buyer at Campsaver.com, I tracked down thousands of dollars in inventory that had been lost for over two years. As the general manager for new ownership at Veyo Pool I doubled profits for the summer of 2017. As a climbing guide, I kept my clients safe and exhilarated in extreme conditions. As a programmer, I get to solve complex problems every day.</p>
  </div>

  <%= source_helper("alert alert-info blog-sidebar-source") %>

  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>
  
  <div class="sidebar-module">
    <h4>Follow Me On</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/supelillywhite"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.facebook.com/jerel.lillywhite"><%= fa_icon "facebook" %></a></li>
      <li><a href="https://twitter.com/supelillywhite"><%= fa_icon "twitter" %></a></li>
      <li><a href="https://www.instagram.com/supelillywhite/"><%= fa_icon "instagram" %></a></li>
    </ol>
  </div>
</div>